.header {
  padding: 20px 0 10px 0;
  border: 1px solid #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__icon {
  padding: 20px;
}
.header .header__img {
  height: 60px;
  cursor: pointer;
  object-fit: contain;
}
